<!DOCTYPE html>  
<html>  
<head>  
    <title>List of searched Books</title> 
    <link rel="stylesheet" href="{{url_for('static',filename='block.css') }}">

</head>  

<body>  
<div class="container"> 	
   
<h3>Book Details</h3>
<table border=1>  
    <thead>   
        <td>Pay</td>    
    </thead>  
       
    {% for row in rows %}  
       
        <tr>  
            <td>{{row[0]}}</td>  
        </tr>  
       
    {% endfor %}  
</table> 

<br />  
   
<a style = "color:white; text-decoration:none;" href="/index1">Go back to home page</a>
  </div>
 <br />
<br />  
</body>  
</html>  