<!DOCTYPE html>  
<html>  
<head>  
    <title>List of Books</title> 
    <link rel="stylesheet" href="{{url_for('static',filename='block.css') }}">

</head>  

<body>  
<div class="container"> 	
   
<h3>Book Details</h3>
<table border=1>  
    <thead>  
        <td>ID</td>  
        <td>Name</td>  
        <td>Author</td>  
        <td>Genre</td>
        <td>Edition</td>  
        <td>Quantity</td>  
        <td>Cost</td>    
    </thead>  
       
    {% for row in rows %}  
       
        <tr>  
            <td>{{row["bookid"]}}</td>  
            <td>{{row["bookname"]}}</td>  
            <td>{{row["author"]}}</td>  
            <td>{{row["genre"]}}</td>
            <td>{{row["edition"]}}</td>  
            <td>{{row["quantity"]}}</td>  
            <td>{{row["cost"]}}</td>   
        </tr>  
       
    {% endfor %}  
</table> 

<br />  
   
<a style = "color:white; text-decoration:none;" href="/index1">Go back to home page</a>
  </div>
 <br />
<br />  
</body>  
</html>  